form{
    margin-top: 2em;
}

table{
    margin-top: 1em;
}

nav{
    margin-bottom: 1em;
}

button{

}

label{
    margin-left: 0.5em;
}

card{
    width: 18rem;
}

article{
   margin-left: 2em;
    margin-top: 2em;
}

.menuform{
    margin-left: 3em;

}

.menubox{
    margin-top: 3em;
    margin-left: 30em;
}

.menubtn{
    margin-left: 1em;
    margin-top:1em;
}

